<?xml version="1.0" ?>

<launch>
    <arg name="hostname"/>
    <arg name="username" default="admin"/>
    <arg name="password"/>

    <node name="franka_lock_unlock"
          pkg="franka_lock_unlock"
          type="__init__.py"
          output="screen"
          args="$(arg hostname) $(arg username) $(arg password) -u -l -w -r -p -c"
    />

    <node name="franka_control" pkg="franka_control" type="franka_control_node" output="screen" respawn="true" >
        <param name="robot_ip" value="$(arg hostname)" />
    </node>
</launch>
