<launch>
    <arg name="hostname"/>
    <arg name="username" default="admin"/>
    <arg name="password"/>
    <arg name="persistent" default="true"/>

    <node name="franka_lock_unlock"
          pkg="franka_lock_unlock"
          type="franka_lock_unlock"
          output="screen"
          args="$(arg hostname) $(arg username) $(arg password) -u -l -w -r -p -c"
    />
</launch>
